---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1634675007'
      Etag:
      - W/"116-jnDuMpjju89+9j7e0BqkdFsVRjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "qui est esse",
          "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }
  recorded_at: Wed, 20 Oct 2021 10:45:26 GMT
recorded_with: VCR 6.0.0
